 

html,body {
	height: 100%;
	width: 100%;
	background: #d4d4d4;
}
h3{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	margin-left: 3%;
}
.wrapper{
	margin: 0 auto;
	min-height: 77.2%;
	background-color: #ffb400;
}
.back-btn{
	float: left;
    margin: 2px 0 0 5px;
    cursor: pointer;
}
.back-btn a{
	display: inline-block;
    font-family: oswald;
    text-decoration: none;
    padding: 5px 0 4px 19px;
    font-size: 15px;
    font-weight: bold;
    color: #2b2b2b;
    background-image: url(../../assets/images/back-arrow.png);
    background-size: 16px 16px;
    background-position-y: 7px;
    background-repeat: no-repeat;
}
.back-btn a:hover{
	color: #171717;
}
#wrap h2{
	background-color: #ffb400;
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	margin: 0;
	padding: 5px 0;
}
li{
	text-align: center;
}
.wrapper ul li a{
	font-family: oswald;
	font-size: 1em;
}
.eventInNav.active{
	cursor: pointer;
}

.eventsNav{
	list-style: none;
}
.active{
	/*background-color: #bd973c;*/
	background-color: #ffde00;
	border-radius: 0px;
}
.eventInNav a{
	color: #d2dae0;
}
.eventInNav.active:hover{
	background-color: #ffde00;
}
.eventInNav.active:hover a{
	color: #094375;
}
.eventInNav:hover{
	background-color: #034377;
}
.eventInNav:hover > a{
	text-decoration: none;
	/*border-bottom: 1px solid #fff;*/
	color: #fff;
}
.active a{
	color: #094375;
	text-decoration: none;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li:hover{
	background-color: #ffb400;
}
.specific_event div{
	padding: 0px;
	margin: 3% 3%;
	background-color: #ffffff;
	min-height: 100px;
}
.specific_event img{
	width: 100%;
	height: 120px;
}
.playerImage{
	cursor: pointer;
}
.specific_event p, .specific_event h3{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	text-align: center;
	word-spacing: 2px;
	line-height: 2;
	color: #0c1e45;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: #ffb400;
	color: #ffffff;
	border-radius: 0px;
}
.p0 {
	padding: 0;
}

@media only screen and (max-width: 996px) {
	.wrapper{
		width: 100%
	}
	.playerDetails p{
		font-size: 11px;
	}

}

.m0 {
	margin: 0;
}
.eventInNav{
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #ffde00;
}
.eventInNav:last-child{
	border-bottom: 0;
}
.eventsNav{
	background-color: #023158;
}
.eventsPageDisplayArea {
	background-color: #0c1e45;
}
.eventsDisp{
	background-color: #ffb400;
}
.eventHeaderName{
	text-align: left;
	text-transform: capitalize;
	text-decoration: underline;
	
}
.eventHeaderName h3{
	margin-top: 7px !important;
}
@media (min-width: 768px){
	
	.arr-icon-black.pull-right {
	     display: inline-block; 
	}
}
@media (max-width: 767px){	
	.eventsDisp {
		display: none;
	}
	.eventInNav.active .arr-icon-black {
    	background: url(../../assets/images/downarrow.png) no-repeat;
    	width: 20px;
     	height: 15px;
	}
	.active {
   		background-color: #ffb400 !important;
	}
}
