<div>
	<ul class='social-links footer-social'>
		<li><a target="_BLANK" href="https://www.facebook.com/roarindiario" title="Facebook">Facebook</a></li>
		<li><a target="_BLANK" href="https://twitter.com/roarindiario" title="Twitter">Twitter</a></li>
		<li class="whatsapp"><a href="whatsapp://send?text=*Roar%20India%20Rio*%0A%0A_A%20dedicated%20website%20for%20all%20Indian%20athletes%20participating%20at%20the%20Rio%20Olympics%202016_%0A%0ALike%2C%20follow%20and%20have%20a%20conversation%20with%20us.%0A%0AFacebook%3A%20https%3A%2F%2Ffacebook.com%2Froarindiario%0ATwitter%3A%20https%3A%2F%2Ftwitter.com%2Froarindiario"></a></li>
		<li><a target="_BLANK" href="mailto:contact@roarindiario" title="Contact Us">Contact Us</a></li>
		<li><a href="../../index.html" title="Home">Home</a></li>
	</ul>
	<span class='kot-link'>
		<a href="../../modules/KOT/kot.html" title="Know Our Team">Know Our Team</a>
	</span>
</div>
