<div class="modal fade player-overlay" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="player-overlay">
                    <div class="player-details">
                        <img />
                    </div>
                        <ul class='social-links '>
                            <li class="fb-profile"><a href="" title="Facebook">Facebook</a></li>
                            <li class="twitter-profile"><a href="" title="Twitter">Twitter</a></li>
                            <li class="wiki-link"><a href="" title="Wikipedia">Wikipedia</a></li>
                        </ul>
                    <ul class="player-fulldetails">
                       <li>
                           <div class="left-details"><p>DOB</p></div>
                           <div class="right-details player_dob"></div>
                       </li>
                       <li>
                           <div class="left-details"><p>Place</p></div>
                           <div class="right-details player_place"></div>
                       </li>
                       <li>
                           <div class="left-details"><p>Category</p></div>
                           <div class="right-details player_category"></div>
                       </li>
                       <li>
                           <div class="left-details "><p>Achievements</p></div>
                           <div class="right-details player_achievements"></div>
                       </li>                              
                        <li>
                            <div class="left-details"><p>Related Stories</p></div>
                            <div class="right-details player_links"></div>
                        </li>	
                                                     	
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-80608434-1', 'auto');
  ga('send', 'pageview');
</script>
